@model IEnumerable<WebApplicationDatabaseProject.topics>

@{
    ViewBag.Title = "Topic";
}

<h2>Topic</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.topic_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.topic_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.topic_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.topic_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.topic_id })
        </td>
    </tr>
}

</table>
